body {
    box-sizing: border-box;
    background: #f5f5f5;
    color: #555;
    font: 17px 'Alata', sans-serif;
}

.wrapper {
    height: 10vh;
    width: 100%;
    background-image: linear-gradient(rgb(255, 221, 0), rgb(255, 255, 255));
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 2%;
    padding-right: 10%;
}


.logo {
    color: black;
    font-size: 40px;
}

.logospan {
    color: rgb(255, 0, 0);
}

.welcome {
    font-size: 30px;
    text-align: center;
}

.btn1{
    border: none;
    background: #ea1538;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: 0.4s;
    margin-left: 50.1%;
    margin-bottom: 10px;

}

.btn2{
    border: none;
    background: #ea1538;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: 0.4s;
    margin-left: 49.88%;
    margin-bottom: 10px;

}

.btn3{
    border: none;
    background: #ea1538;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: 0.4s;
    margin-left: 50.1%;
    margin-bottom: 10px;
}

.btn4{
    border: none;
    background: #ea1538;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    transition: 0.4s;
    margin-left: 0;
    margin-bottom: 10px;
}

.btn5{
    border: none;
    background: #ea1538;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    transition: 0.4s;
    margin-left: 50%;
    margin-bottom: 10px;
}

.btn6{
    border: none;
    background: #ea1538;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    transition: 0.4s;
    margin-left: 0;
    margin-bottom: 10px;
}

.btn7{
    border: none;
    background: #ea1538;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    transition: 0.4s;
    margin-left: 0;
    margin-bottom: 10px;
}

.btn8{
    border: none;
    background: #ea1538;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    transition: 0.4s;
    margin-left: 1%;
    margin-bottom: 10px;
}

.btn9{
    border: none;
    background: #ea1538;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    transition: 0.4s;
    margin-top: 1%;
    margin-left: 0;
    margin-bottom: 10px;
}

.btn10{
    border: none;
    background: #ea1538;
    padding: 5px 8px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    transition: 0.4s;
    margin-left: 0;
    margin-bottom: 10px;
}

.btn11{
    border: none;
    background: #ea1538;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    transition: 0.4s;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 10px;
}


.btn1:hover, .btn2:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.btn3:hover, .btn4:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.btn5:hover, .btn6:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.btn7:hover, .btn8:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.btn9:hover, .btn11:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.btn10:hover{
    cursor: pointer;
}

.test {
    text-decoration: none;
    color: black;
}

.childInfo {
    text-decoration: none;
    color: rgb(84, 31, 125);
}